/*全局样式控制*/
* {
    margin: 0;
    padding: 0;
}

i, em {
    font-style: normal;
}



li {
    list-style: none;
    float: left
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    /* color: #C81623; */
    color: #c81623;
}

input, button {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', '\5B8B\4F53', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', '\5B8B\4F53', sans-serif;
    color: #666;
}

/*引入矢量字体和配置样式*/
@font-face {
    font-family: 'iconfont';
    src: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/ba43574760fe93a35fca3c6f9b9e73f4.eot);
    src: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/ba43574760fe93a35fca3c6f9b9e73f4.eot?#iefix) format("embedded-opentype"), url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/a84f5777e97992c6fb6d423c003f187b.woff) format("woff"), url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/43f6b5fd284d120fd59582a14e3e0844.ttf) format("truetype"), url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/7e3a7b715cf938242acf0fe64a0e1817.svg#iconfont) format("svg");
}

.iconfont {
    font-family: 'iconfont', sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
}

/*top代码*/

#nav {
    width: auto;
    height: 31px;
    background-color: #E3E4E5;
    margin-top: -5px
}

.nav_center {
    width: 1190px;
    height: 30px;
    margin: auto
}

.icon_loc {
    width: 58px;
    height: 30px;
}

.iconfont-location {
    color: red;
    margin: 7px 0px;
}

.icon_loc_text {
    font-size: 13px;
    float: right;
    padding-top: 7px;
    padding-right: 15px;
}

.fr {
    float: right;
}
.fl{
    float: left;
}

.nav_right {
    padding-top: 8px;
}

ul {
    display: inline-block;
    float: left;
}
.w{
    width: 990px;
    margin: 0 auto;
}
.red {
    color: red;
}

#ttbar-login {
    margin-right: 8px;
    z-index: 20;
    color: #999999;
}

li.spacer {
    overflow: hidden;
    margin: 5px 2px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

#drop_down{
    position: relative;
    left: 100px;
}
* {
    margin: 0 auto;
    padding: 0;
}




#wrap img {
    border: 0;
    vertical-align: middle;
}

#fr li {
    float: left;
    list-style-type: none;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: red;
}


/*底部*/

#footer {
    height: 400px;
    width: 990px;
    background-color: #ffffff;
    margin: 0px auto;
}

#service-2014 {
    margin-bottom: 20px;
}

#service-2014 dl {
    float: left;
    width: 120px;
    padding-left: 20px;
}

#service-2014 dl.fore5 {
    width: 100px
}

#service-2014 dt {
    padding: 6px 0;
    font: 400 16px/24px "microsoft yahei"
}

#service-2014 dd {
    line-height: 20px
}

#service-2014 .slogan {
    height: 54px;
    padding: 20px 0;
    margin-bottom: 14px;
    background: #F5F5F5;
    text-align: center
}

#service-2014 .slogan img {
    margin-right: 20px;
    text-align: center;
}

#service-2014 .item {
    display: inline-block;
    left: 50%;
    top: 20px;
    width: 240px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    font: 400 18px/50px "microsoft yahei"
}

#coverage {
    float: right;
    width: 300px;
    height: 168px;
    background: url("../images/dt.png") no-repeat 60px -131px;
}

#coverage .dt {
    padding: 6px 40px 15px 80px;
    font: 400 16px/24px "microsoft yahei"
}

#coverage .dd {
    padding: 0 40px 15px 80px
}

.copyright {
    clear: both;
    text-align: center;
}

